{% extends "layout.html" %}
{% block content%}

<div align="center">

<br></br>
<br></br>
<br></br>
  <font size="14">
    Quem é você?
  </font>
  <br></br>

  <font size='6'>
  <form method=post>
      {{ form.csrf_token }}
      {{ form.username }}
      <input type=submit value='OK'  width="20">
  </form>


  <br>
    <button type="button"
      onclick="window.location.href='{{ url_for('reset') }}';">
        Resetar jogadores
    </button>
  </br>
</font>
</div>

{% endblock %}
